.movieItem {
    border: 1px solid #292929;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.movieItem img {
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.movieDetails {
    padding: 0 16px 16px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}

.movieTitle {
    margin: 8px;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 700;
    color: #e0e0e0;
}

.movieDetail {
    color: #464646;
    font-weight: 500;
}

.movieItem:hover {
    cursor: pointer;
    background: #1a1a1a;
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.4);
    border: 1px solid #ff0000;
    transform: scale(1.05);
}

.movieItem:hover img {
    filter: brightness(1.2);
}

.movieItem:hover .movieTitle {
    color: #ffffff;
}
